keycloakx:
  fullnameOverride: "keycloak"
  image:
    tag: "26.2.2" # renovate: image=quay.io/keycloak/keycloak
  command:
    - "/opt/keycloak/bin/kc.sh"
    - "start"
    - "--hostname-strict=false"
    - "--features=docker"
  extraEnv: |
    - name: KEYCLOAK_ADMIN
      value: admin
    - name: KEYCLOAK_ADMIN_PASSWORD
      valueFrom:
        secretKeyRef:
          name: keycloak-admin-password
          key: password
    - name: JAVA_OPTS_APPEND
      value: >-
        -Djgroups.dns.query={{ include "keycloak.fullname" . }}-headless
  extraVolumes: |
    - name: theme
      emptyDir: {}
  extraVolumeMounts: |
    - name: theme
      mountPath: /opt/keycloak/themes/keywind
  extraInitContainers: |
    - name: theme-provider
      image: registry.home.klaus-meyer.net/home/keycloak-themes:latest
      imagePullPolicy: IfNotPresent
      command:
        - sh
      args:
        - -c
        - |
          echo "Copying theme..."
          cp -R /themes/keywind/* /theme
      volumeMounts:
        - name: theme
          mountPath: /theme
  proxy:
    mode: xforwarded
    http:
      enabled: true
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      cert-manager.io/common-name: "*.home.klaus-meyer.net"
    rules:
      - host: idp.home.klaus-meyer.net
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - "*.home.klaus-meyer.net"
        secretName: tls-wildcard-home-klaus-meyer-net
  database:
    vendor: postgres
    hostname: postgres.databases.svc.cluster.local
    port: 5432
    database: keycloak
    username: keycloak
    existingSecret: keycloak-database
