smarthome-metrics-temperature:
  rails-application:
    image:
      tag: master
      pullPolicy: Always
    environment:
      sealedSecrets: true
      plain:
        FRITZBOX_ENDPOINT: "https://192.168.178.1"
        FRITZBOX_VERIFY_SSL: "false"
      secret:
        FRITZBOX_USERNAME: AgCDV/BiWg7J2q3F+h+ZXrsmDQrtYzFIB+qFSF14B99SpCGWxML7cRAlGodnA8LJ1r5kUQY42rSR1awOCqbAi08VnVh63IAvuhnObnhoOsqcNX/yOQYEsCrHWJ/B7htDFo2vY6jZ5wV04BhRvsNQKlqAKGriCPekSAk415FETJuejMCnaOMp0hGp4vSQKu6BG7Tm8O/hD6IvGxAKiEyErayNDO8CSju6Yw2MK2g+xeh6XSj5qYlvOe1z8C4qWWO6CI+SNR2ajJVvl4O+L3E+QoC1yxLtdm+x5dyLwIDof4YlpZ4ORiQSaeY5QgutVmBYZ92k4l7NC58copFFub3xHYPw7FkC0xs/iV+m/5Fj6SEG5iq4BKJ+cXNgqYwGv3Itf8K8ch/TVM6BanUf9mv+E+sa/F4P0jX6EL9YpZk84FP7hGeSqWLN/ikG8wHvmC/+/ARZHAIGbivQvbz23pFUPOEA1JO8qog41eEzd+HMqoYTkTNQSD4uoz595M6bNWHXHa3m1HUy9kOO0sEN8gw5BFod4mtpU0i7TTgQAGDgevGFF6DXoMH83pvw+IDhN8GxQaE++JNDWeFVFrURPuWVGVKKeCfXZ2nY8Qy5WBvrIK6dwDNIyq+O6bdzC9YsK6i2/sOSkgodT9zdrQ3A9IPY/rtfYCxKOv2qYYCQmoaV1ImeMsBsGP1uPIi7KQwga0M5lL0Xwm/u2cvZlpQ=
        FRITZBOX_PASSWORD: AgCoxxiRDfSCvHguwzB3+EapeiCD78AxmYvxl8f0WYbO5hf/OKrDYfdfdjygmQCPTWksmOVsUJt4lMot9zSSPWhI0nurZ9H3+JMWD40NRMQRpjKkH0DCLmEnXegH44YeUt5+YgI5ca3F6z9IOKOMQVGR0xj0fWMFvKX4H6CMbkvwyO7bHSVwIkR5HFcv3jYbicpgWgyqI8Au5ufnveKwf8k4IIdLbaT8nPH3P/QHNbdyiYYGUchzzFeCBCP+jVwPKhin0rNohLV26sMNLLH5NEcohzAbheDTsf+Lz9n8QL1a8KkV9AxGQ6/VqLYcFdiZBx5uBRqX3ZUz+CT1McGD3LN16MCMt0aeBjSMiqQMspkyJzfjDOTi1imJWIl7Rww4FmV8Pt7Mqu9bGo93FZX1dU+W2o3svJ3DNjMDVFGXusrWUBjeHc4AKLWUo50iScOrskI9uwJquFBBjldg7cimEUdwZjjWH3aY5TqaE5R2+dhRf6QW2CL2Ic3/c1xREKLEblaJ2R2IqK4oTuiYX+lI77NDXsSzqDIY88zTF12HbM7zC4RBvmC9iJ++DvM1Bu/55GIKxGX9jhMclAN5/es2lbUPgx+Q9m0lGbWuS9cw5fymgbFIqOxuW7WaR3A4L51Vn0h8TCIJfgULbHBQNIQHs7y/m4UEvG0UvURmWDK8YnUODu7k++80/3eZn+y0ou3+QcyvbiKTYwZcDtfv58BkzIK1
    deployments:
      web:
        livenessProbe:
          httpGet:
            path: /
        readinessProbe:
          httpGet:
            path: /
