paperless-ngx:
  image:
    tag: "2.19.6" # renovate: image=ghcr.io/paperless-ngx/paperless-ngx
  env:
    PAPERLESS_DBENGINE: postgresql
    PAPERLESS_DBHOST: postgres.databases.svc.cluster.local
    PAPERLESS_DBNAME: paperless
    PAPERLESS_DBUSER: paperless
    PAPERLESS_DBPASS:
      secretKeyRef:
        name: paperless-postgresql
        key: password
    PAPERLESS_REDIS: redis://paperless-ngx-redis
    PAPERLESS_TIKA_ENABLED: "1"
    PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
    PAPERLESS_TIKA_ENDPOINT: http://localhost:9998
  redis:
    enabled: false
  persistence:
    data:
      enabled: true
      accessMode: ReadWriteOnce
      size: 1Gi
    media:
      enabled: true
      accessMode: ReadWriteOnce
      size: 1Gi
    export:
      enabled: true
      accessMode: ReadWriteOnce
      size: 1Gi
    consume:
      enabled: true
      accessMode: ReadWriteOnce
      size: 1Gi
  ingress:
    main:
      enabled: true
      ingressClassName: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
        cert-manager.io/common-name: "*.home.klaus-meyer.net"
      hosts:
        - host: paperless.home.klaus-meyer.net
          paths:
            - path: /
      tls:
        - secretName: tls-wildcard-home-klaus-meyer-net
          hosts:
            - "*.home.klaus-meyer.net"
  additionalContainers:
    tika:
      name: "tika"
      image: "docker.io/apache/tika:latest"
    gotenberg:
      name: "gotenberg"
      image: "docker.io/gotenberg/gotenberg:8.24"

redis:
  haMode:
    enabled: false
